@import '../variables.scss';

.Calendar {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  height: calc(100vh - 10rem);
  user-select: none;
  justify-content: stretch;

  // * {
  //   border: 1px solid black;
  // }

  .Swipeable {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
  }

  .MainCalendar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
  }

  .MonthCalendar {
    .labels {
      display: flex;
      justify-content: stretch;

      .day {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
      }

      .short {
        display: none;
      }

      @media only screen and (max-width: 850px) {
        .short {
          display: inline;
        }

        .long {
          display: none;
        }
      }
    }

    .week {
      flex: 1;
      display: flex;
      justify-content: stretch;
      
      .not-in-month {
        color: darken(white, 30%);
      }

      .day {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        margin: 0.3rem;

        .date {
          display: flex;
          text-align: center;
          justify-content: center;
        }

        .event {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border-radius: 1rem;
          border: 0.1rem solid lighten($color-2, 20%);
          box-shadow: 0 0 0.1rem 0.1rem lighten($color-2, 20%), 0 0 0.1rem 0.1rem lighten($color-2, 20%) inset;

          .icon {
            display: none;
          }

          @media only screen and (max-width: 850px) {
            .icon {
              display: inline;
            }

            .summary {
              display: none;
            }
          }
        }

        @media only screen and (min-width: 850px) {
          &.today {
            background-color: $color-2;
            box-shadow: 0 0 0.3rem 0.3rem $color-2;
          }
        }
      }
    }
  }

  .DatePicker {
    max-width: 17rem;
  }

  @media only screen and (max-width: 850px) {
    .DatePicker {
      display: none;
    }
  }
}

.EventPage {
  display: flex;
  min-height: calc(100vh - 10rem);
  margin-top: 5rem;
}