@import '../variables.scss';

.Calendar {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  min-height: calc(100vh - 10rem);
  user-select: none;
  justify-content: stretch;

  .MainCalendar {
    flex: 1;
    max-width: 100%;
  }

  .EventCalendar {
    display: none;
    width: 100%;
    margin-top: 5rem;

    .picker {
      background-color: $color-2;
    }

    .events {
      .Event {
        padding: 2rem;
  
        &:not(:first-child) {
          border-top: 1px solid darken($color-2, 20%);
        }
  
        .description {
          padding: 0 1rem;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sidebar {
    max-width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 850px) {
    .MainCalendar {
      display: none;
    }

    .EventCalendar {
      display: flex;
    }

    .sidebar {
      display: none;
    }
  }
}

.EventPage {
  display: flex;
  min-height: calc(100vh - 10rem);
  margin-top: 5rem;

  .event {
    width: 100%;
  }
  
  .summary {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .exit {
      cursor: pointer;
    }
  }

  .description a {
    text-decoration: underline;
  }
}