.Page {
	margin: 5rem auto auto;
	width: 100%;
	
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 50rem;
		margin: 0 auto;
	}
	
	.col {
		align-items: center;
		align-content: flex-start;
		justify-content: center;
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}
	
	.text {
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0 1rem;
	}
	
	.double-col {
		flex: 2;
	}
}

