@import "../variables.scss";

.Header {
  align-items: stretch;
  background-color: $color-2;
  color: $text-1;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  flex-basis: 5rem;
  z-index: 1;

  .title {
    padding: 0 1rem;

    h1 {
      white-space: nowrap;
    }
  }

  .Nav {
    align-items: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    a {
      align-items: center;
      border-bottom: 2px solid rgba(black, 0);
      display: flex;
      justify-content: center;
      padding: 0 1rem;
      transition: border 0.3s, color 0.3s;
    }

    a:hover {
      color: $color-3;
      border-bottom: 2px solid $color-3;
    }
  }

  .MobileMenu {
    display: none;
  }

  @media only screen and (max-width: 850px) {
    .Nav {
      display: none;
    }
    
    .MobileMenu {
      display: flex;
      
      .Nav {
        display: flex;
        overflow: hidden;
        background-color: rgba($color-2, 0.9);
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        transition: height 0.5s;

        a {
          padding: 1rem 0;
          width: 100vw;
        }
      }

      .visible {
        height: calc(100vh - 5rem);
      }

      .not-visible {
        height: 0;
      }
    }

    cursor: pointer;
    .icon {
      display: block;
      height: 100%;
      padding: 0 2rem;
    }
  }
}
